<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Titulares
    </ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" scrollable mode="md" color="primary" [value]="categorias[0]">
    <ion-segment-button mode="md" *ngFor="let categoria of categorias" [value]="categoria" color="dark">
      <ion-label class="ion-text-capitalize">{{categoria}}</ion-label>
    </ion-segment-button>    
    
  </ion-segment>
</ion-header>


<ion-content color="dark"> 
  <app-noticias [noticias]="noticias"></app-noticias>
  <ion-infinite-scroll threshold="200px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando noticias..." color="light">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
